form {
	padding-top: 20px;
	width: 550px;
	height: 550px;
	margin: auto;
}

input[type = text] {
	width: 100%;
  padding: 10px 5px;
  display: inline-block;
  border: 1px solid #black;
  border-radius: 4px;
	background-color: azure;
}

select {
	padding: 5px 5px;
	border-radius: 4px;
	width: 100px;
	background: azure;
}

#add_item {
height: 50px;
width: 100px;
float: left;
margin-left: 220px;
color: #20bf6b !important;
text-transform: uppercase;
font-family: 'Luckiest Guy', cursive;
background: #ffffff;
padding: 10px;
border: 4px solid #20bf6b !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

#add_item:hover {
color: #494949 !important;
border-radius: 50px;
border-color: #494949 !important;
transition: all 0.3s ease 0s;
}

label {
font-family: 'Luckiest Guy', cursive;
}

#home {
	margin-left: 230px;
	margin-top: 10px;
	color: #0278BB;
	text-transform: uppercase;
	font-family: 'Luckiest Guy', cursive;
	background: #ffffff;
	padding: 10px;
	border: 4px solid #0278BB !important;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

#home:hover {
	color: white;
	background: #0278BB;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
